
.todo-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: rgb(208, 232, 255);
  padding: 20px;
  border-radius: 5px;
}



.todo-input {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 90%;
}

.todo-input[type="number"] {
  width: 100px;
}

.todo-button {
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 5px;
  background-color: #57aeff;
  color: white;
  border: none;
  cursor: pointer;
  align-self: flex-end;
}
